Microsoft CRM 4.0 Gateway/activiser.Gateway.MsCrm.CrmPlugIn/Web References/activiserInputGatewayCrm/activiserInputGatewayCrm.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://activiser.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://activiser.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://activiser.com/">
      <s:element name="Read">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="transactionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="organizationId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="entity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="entityData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="transactionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="organizationId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="entity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="entityData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="entityPreData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetState">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="transactionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="organizationId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="entity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="entityData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newState" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="newStatusCode" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="entityPreData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="entityPostData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetStateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetStateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Assign">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="transactionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="organizationId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="entity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="entityData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newAssignee" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="entityPreData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="entityPostData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AssignResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AssignResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Test">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="organizationId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StartTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="organizationId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StartTransactionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StartTransactionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FinishTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="organizationId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="transactionId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FinishTransactionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FinishTransactionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Create">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="transactionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="organizationId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="entity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="entityData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="entityPostData" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="updateIfExists" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Route">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="transactionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="organizationId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="entity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="entityData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newAssignee" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="entityPreData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="entityPostData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RouteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RouteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="transactionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="organizationId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="entity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="entityData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="entityPreData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="entityPostData" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="createIfMissing" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReadSoapIn">
    <wsdl:part name="parameters" element="tns:Read" />
  </wsdl:message>
  <wsdl:message name="ReadSoapOut">
    <wsdl:part name="parameters" element="tns:ReadResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="SetStateSoapIn">
    <wsdl:part name="parameters" element="tns:SetState" />
  </wsdl:message>
  <wsdl:message name="SetStateSoapOut">
    <wsdl:part name="parameters" element="tns:SetStateResponse" />
  </wsdl:message>
  <wsdl:message name="AssignSoapIn">
    <wsdl:part name="parameters" element="tns:Assign" />
  </wsdl:message>
  <wsdl:message name="AssignSoapOut">
    <wsdl:part name="parameters" element="tns:AssignResponse" />
  </wsdl:message>
  <wsdl:message name="TestSoapIn">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="TestSoapOut">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:message name="StartTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:StartTransaction" />
  </wsdl:message>
  <wsdl:message name="StartTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:StartTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="FinishTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:FinishTransaction" />
  </wsdl:message>
  <wsdl:message name="FinishTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:FinishTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="CreateSoapIn">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="CreateSoapOut">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="RouteSoapIn">
    <wsdl:part name="parameters" element="tns:Route" />
  </wsdl:message>
  <wsdl:message name="RouteSoapOut">
    <wsdl:part name="parameters" element="tns:RouteResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:portType name="activiserInputGatewayCrmSoap">
    <wsdl:operation name="Read">
      <wsdl:input message="tns:ReadSoapIn" />
      <wsdl:output message="tns:ReadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetState">
      <wsdl:input message="tns:SetStateSoapIn" />
      <wsdl:output message="tns:SetStateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Assign">
      <wsdl:input message="tns:AssignSoapIn" />
      <wsdl:output message="tns:AssignSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:input message="tns:TestSoapIn" />
      <wsdl:output message="tns:TestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StartTransaction">
      <wsdl:input message="tns:StartTransactionSoapIn" />
      <wsdl:output message="tns:StartTransactionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FinishTransaction">
      <wsdl:input message="tns:FinishTransactionSoapIn" />
      <wsdl:output message="tns:FinishTransactionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input message="tns:CreateSoapIn" />
      <wsdl:output message="tns:CreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Route">
      <wsdl:input message="tns:RouteSoapIn" />
      <wsdl:output message="tns:RouteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="activiserInputGatewayCrmSoap" type="tns:activiserInputGatewayCrmSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Read">
      <soap:operation soapAction="http://activiser.com/Read" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://activiser.com/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetState">
      <soap:operation soapAction="http://activiser.com/SetState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Assign">
      <soap:operation soapAction="http://activiser.com/Assign" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://activiser.com/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartTransaction">
      <soap:operation soapAction="http://activiser.com/StartTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinishTransaction">
      <soap:operation soapAction="http://activiser.com/FinishTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://activiser.com/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Route">
      <soap:operation soapAction="http://activiser.com/Route" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://activiser.com/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="activiserInputGatewayCrmSoap12" type="tns:activiserInputGatewayCrmSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Read">
      <soap12:operation soapAction="http://activiser.com/Read" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://activiser.com/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetState">
      <soap12:operation soapAction="http://activiser.com/SetState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Assign">
      <soap12:operation soapAction="http://activiser.com/Assign" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap12:operation soapAction="http://activiser.com/Test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartTransaction">
      <soap12:operation soapAction="http://activiser.com/StartTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinishTransaction">
      <soap12:operation soapAction="http://activiser.com/FinishTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap12:operation soapAction="http://activiser.com/Create" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Route">
      <soap12:operation soapAction="http://activiser.com/Route" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://activiser.com/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="activiserInputGatewayCrm">
    <wsdl:port name="activiserInputGatewayCrmSoap" binding="tns:activiserInputGatewayCrmSoap">
      <soap:address location="http://localhost:4202/activiserInputGatewayCrm.asmx" />
    </wsdl:port>
    <wsdl:port name="activiserInputGatewayCrmSoap12" binding="tns:activiserInputGatewayCrmSoap12">
      <soap12:address location="http://localhost:4202/activiserInputGatewayCrm.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>